@font-face {
  font-family: 'EBGaramond';
  src: url('../fontsEBGaramond-Regular/EBGaramond-Regular.ttf');
  src: url('../fonts/EBGaramond-Regular/EBGaramond-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/EBGaramond-Regular/EBGaramond-Regular.svg') format('woff2'),
  url('../fonts/EBGaramond-Regular/EBGaramond-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light/Montserrat-Light.ttf');
  src: url('../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Light/Montserrat-Light.svg') format('woff2'),
  url('../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}